# Default ignored files
/shelf/
/workspace.xml

.idea

# file properties cache/storage on macOS
*.DS_Store

# thumbnail cache on Windows
Thumbs.db

# Configuration file
configTest.yaml
testDestination
venv
